/*Reset Básico Do Site*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(3, 18, 26);
}

body::-webkit-scrollbar {
    width: 8px;       
}
  
body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);   
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(66, 151, 255);
    border-radius: 20px; 
}


/*Variaveis Globais do Site*/

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

.opacity{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.600);
}

/*Header do site*/

header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    mix-blend-mode: screen;
    box-shadow: 0px -100px 100px rgb(0, 0, 0) inset;
}

header > .container{
    position: relative;

    z-index: 2;
    display: flex;
    padding: 15px 4%;
}

/*logo*/

header .logo{
    width: 100%;
    color: white;

}

header .logo h1{
    width: 70px;
    text-align: center;
    cursor: pointer;
    border: 1px solid white;
}

header .logo h1:hover{
    color: goldenrod;
}


/*Menu desktop*/

header nav.menu_desktop{
    width: 100%;
    text-align: center;
    line-height: 40px;
}

header nav.menu_desktop ul{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;
}

header nav.menu_desktop li{
    font-size: 16px;
    margin: 0 15px;
    text-transform: lowercase;
}

header nav.menu_desktop li a{
    color: white;
    text-decoration: none;
}

header nav.menu_desktop li a:hover{
    color: goldenrod;
}

/*Acount*/

header .acount{
    width: 100%;
    line-height: 40px;
    text-align: end;
    color: white;
    cursor: pointer;
}

header .acount p:hover{
    color: goldenrod;
}

/*Container img*/

header .container-txt {
    width: 100%;
    position: relative;
    top: 40%;
    text-align: center;
    padding: 0 15px;
    left: 50%;
    margin: -15px 0;
    transform: translate(-50%, -50%) 
}

header .container-txt p{
    color: goldenrod;
}

header .container-txt h2{
    font-size: 45px;
    text-align: center;
    color: white;
}

/*Sessão de informações*/

section.info{
    padding: 20px 0;
    width: 100%;
}

section.info .info-content{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}

section.info .img-info{
    width:30%;
}

section.info .img-info img{
    width: 100%;
}

section.info .info-content:nth-child(2){
    flex-direction: row-reverse;
}

section.info .text-info{
    display: flex;
    width:70%;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.info  h3{
    color: rgb(255, 204, 76);
    margin-bottom: 8px;
}

section.info  h2{
    font-size: 35px;
    color: white;
    text-align: justify;
}

section.info  p{
    margin-top: 25px;
    color: #ccc;
    text-align: justify;
}

/*footer*/
footer{
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid rgb(255, 255, 255);
    text-align: center;
    color: white;  
}

footer span a i{
    color: rgb(255, 204, 76);  
}

footer span a{
    padding: 5px 10px;
    cursor: pointer;
}

footer p{
    padding: 5px 0;
}